/*to make browsers behave uniformly*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F2F2;
}

nav {
  background-color: #FE7E00;
  color: white;
}

span.light-text {
  font-weight: lighter;
}

ul {
  list-style: none;
  background-color: #FE7E00;
  text-align: center;
}

a {
  text-decoration: none;
}

.left-links a, .block-text p {
  font-family: bold, 'Quicksand', sans-serif;
  font-size: 1.5em;
}

.left-links a {
  color: white;
}

div.block-text p {
  color: #FE7E00;
}

i.fa-search {
  opacity: 0.3;
}

button, div.right-links a {
  font-family: 'Quicksand', sans-serif;
  border: none;
  font-size: .9em;
  text-align: center;
  color: white;
  font-weight: bold;
}

#search-term {
  background-color: #DDDDDD;
}

main span {
  color: #7ACCC8;
}

input {
  background-color: #EFEFEF;
  border: none;
}

.left-button {
  background-color: #FE7E00;
}

.right-button {
  background-color: #7ACCC8;
}

footer {
  background-color: #7ACCC8;
  color: white;
}

br {
  display: none;
}

/*For larger screens*/
@media screen and (min-width: 714px) {
  br.large {
    display:block;
  }
  nav {
    position: relative;
    overflow: hidden;
    padding: 2%;
  }

  nav img {
    width: 6%;
    height: auto;
    float: left;
  }

  ul {
    padding-right: 1%;
  }

  nav li {
    display: inline-block;
    padding-left: 3%;
    float: right;
  }

  a {
    width: 100%;
  }

  .block-text  p {
    padding: 5% 0;
  }

  .left-links a {
    float: left;
  }

  .block-text {
    position: relative;
    top: 20%;
  }

  .block-image {
    width: 125%;
    height: auto;
  }

  i.fa-search {
    float: right;
  }

  #search-term {
    padding: 0.3%;
  }

  button {
    padding: 1%;
    width: 21.71314%;
    margin-left: 3%;
    margin-bottom: 6%;
    float: right;
    position: relative;
    right: 3.5%;
  }

  main {
    padding-right: 2.4%;
  }

  main p {
    float: right;
  }

  .left-links {
    display: inline-block;
    width: 30%;
    float: left;
  }

  .right-links {
    display: inline-block;
    width: 70%;
  }

  .right-links a {
    float: right;
  }

  .search-box i {
    position: relative;
    left: 15%;
  }

  input {
    float: right;
  }

  img {
    display: inline-block;
    float: left;
    width: 30%;
    height: auto;
    max-width: 100%;
  }

  footer {
    position: absolute;
    top: 90%;
    display: block;
    padding: 2.35% 0;
    width: 100%;
  }
}
/*for smaller screens*/
@media screen and (max-width: 713px) {
  body {
    margin: 0 auto;
    text-align: center;
  }

  .left-links {
    text-align: center;
  }

  ul {
    padding-right: 1%;
  }

  nav li {
    display: inline-block;
    padding: 0 1%;
  }

  a {
    width: 100%;
  }
  .block-text  p {
    padding: 5% 0;
  }

  .left-links a {
    float: left;
  }

  .block-text {
    max-width: 90%;
    position: relative;
    top: 20%;
  }

  .block-image {
    max-width: 100%;
    height: auto;
  }

  .search-box i {
    margin: 10px auto;
  }

  #search-term {
    padding: 0.3%;
  }

  br.small {
    display:block;
  }

  button {
    display:block;
    padding: 1% 1% 1% 1%;
    width: 50%;
    margin: 0 auto 10px;
    position: relative;
  }

  footer {
    clear: both;
    position: absolute;
    bottom: 0;
    padding: 1% 0;
    height: 5%;
  }
}
