* {
  margin: 0;
  padding: 0;
}

body {
  background-color:#F2F2F2;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

nav {
  background-color: #FE7E00;
  position: relative;
  display: block;
  color: white;
  overflow: hidden;
  padding: 2%;
}

img {
  max-width: 100%;
}

nav img {
  width: 6%;
  height:auto;
  float:left;
}

span.light-text {
  font-weight: lighter;
}

ul {
  list-style: none;
  background-color: #FE7E00;
  text-align: center;
}

nav li {
  display: inline-block;
  padding-left: 3%;
  position: relative;
  right: -100px;
}

a {
  text-decoration: none;
  width:100%;
}

.left-links a, .block-text p {
  font-family: bold, 'Quicksand', sans-serif;
  font-size: 1.5em;
}

.block-text  p {
  position: relative;
  bottom: 10%;
}

.left-links a {
  color: white;
  float: left;
}

.block-text {
  position: relative;
  top: 20%;
}

.block-image {
  width: 125%;
  height:auto;
}

div.block-text p {
  color: #FE7E00;
}

i.fa-search {
  opacity: 0.3;
  float:right;
}

button, div.right-links a {
  font-family:'Quicksand', sans-serif;
  border: none;
  font-size: .9em;
  text-align: center;
  color: white;
  font-weight: bold;
}

button {
  padding: 1%;
  width: 21.71314%;
  margin-left: 3%;
  margin-bottom: 6%;
  float: right;
  position: relative;
  right: 3.5%;
}

main {
  padding-right: 2.4%;
}

main p {
  float: right;
}

main span {
  color: #7ACCC8;
}

.left-links {
  display: inline-block;
  width: 30%;
  float: left;
}

.right-links {
  display: inline-block;
  width: 70%;
}


.right-links a {
  float: right;
}

label {
  position: relative;
  right: -98%;
}

input {
  background-color: #EFEFEF;
  border: none;
  float: right;
}

img {
  display: inline-block;
  float: left;
  width: 30%;
  height: auto;
}

.buttons {
  clear: both;
}

.left-button {
  background-color: #FE7E00;
}

.right-button {
  background-color: #7ACCC8;
}

footer {
  clear: both;
  background-color: #7ACCC8;
  position: absolute;
  top: 90%;
  display: block;
  color: white;
  padding: 2.35% 0;
  width:100%;
}
